.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.messageArea {
  max-height: 20vh;
  overflow-y: auto;
  border: 2px solid darkblue;
  color: cornflowerblue;
  font-weight: 600;
  text-align: left;
  margin: 10px;
  border-radius: 12px;
  list-style-type: none;
  flex-direction: column-reverse;
  display: flex;
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  input, textarea, label {
    margin-bottom: 6px;
  }
}