.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input,
    textarea,
    label {
        margin-bottom: 6px;
    }

    input[type='submit'] {
        color: #fff;
        border-radius: 6px;
    }
}